{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block container %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">Organisez vos promenades avec vos toutous</h1>
          <p class="lead fw-normal text-white-50 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quia exercitationem dolore modi odit omnis harum aliquid, quisquam, nam maiores temporibus
            quam soluta praesentium facilis adipisci deleniti voluptate ipsa doloribus quas.</p>
          {# <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
              </div> #}
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
          src="https://images.unsplash.com/photo-1489493845191-e401c41246cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
          alt="..." /></div>
    </div>
  </div>
</header>

{% endblock %}