.stroll-map {
  height: 20em;
}

.profilePicture {
  color: #80b918;
  font-size: 10em;
}

.dogPicture {
  background-color: #80b918;
  color: white;
  font-size: 9em;
}

h2 {
  color: #087316;
}

.btn-warning {
  border-color: #EAEE1B;
  background-color: #EAEE1B;
}

.btn-warning:hover {
  border-color: #EAEE1B;
  background-color: #EDF037;
}

.rounded-circle {
  background-position : 50% 50%; 
  background-repeat: no-repeat;
}