{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
  
  <div class="jumbotron">
    <h3 class="display-4">Administration</h3>
    <p class="lead">Bienvenue dans l'interface d'administration du site.</p>
  </div>

{% endblock %}